@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    font-weight: 800;
    transition: color 0.1s linear, background-color 0.1s linear;
}
 
body
{
    transition: background-color 3s linear;
}

.container
{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 100vh;
    background-color: #f5f5f5;
}

.color-section
{
    width: 200px;
}

.color-cube
{
    width: 100%;
    padding-bottom: 100%;
    background-color: #000000;
}

.hex-color
{
    text-align: center;
    width: 100%;
}

.gen-button
{
    width: 100%;
    height: 50px;
    border: none;
    background-color: whitesmoke;
    border: 0.1px solid grey;
}

.gen-button:hover
{
    border: 0.1px solid black ;
}
