*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.boton
{
    position: relative;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: auto;
    margin-top: 300px;
    cursor: pointer;
    width: 50%;
    height: 100px;
    transition: background-color 0.5s;;
}

.boton:hover
{
    background-color: #88be8a;
    transition: background-color 0.5s;
}

a
{
    position: absolute; 
    top: 0;
    right: 0; 
    bottom: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 40px;
    text-align: center;
    line-height: 250%;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}