<a class="logo-container" href="../index.html">
    <!--
    <img class="logo" src="../images/logo.png" alt="Holyx Logo">
    -->
    <h2 class="logo">Holyx</h2>
</a>
<ul class="navigation-list">
    <li><a href="../profile.html" aria-label="professional profile">Professional Profile</a></li>
    <li><a href="../portfolio.html" aria-label="portfolio">Portfolio</a></li>
    <li><a href="../contact.html" aria-label="contact">Contact</a></li>
    <li><a href="../bio.html" aria-label="biography">Biography</a></li>
</ul>