main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 0;
}

main h2, h3, h4, h5, h6{
    font-family: "Proza Libre", sans-serif;
    padding-bottom: 15px;
}

main p{
    text-align: justify;
    
}

main h1{
    font-size: 1.7rem;
}

.landing-screen{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.landing-text{
    max-width: 900px;
    padding: 0px 30px;
    text-align: justify;
}   

.landing-text ul{
    list-style-position: inside;
    margin: 0px 30px;
}

.landing-text ul li{
    list-style-position: outside;
    margin-bottom: 1rem;
}

.landing-text article{
    margin-bottom: 30px;
}

.landing-text .inline-list
{
    padding: 0;
    margin: 0;
}

.landing-text .inline-list img{
    height: 30px;
    width: 30px;
    display: inline;
}

.landing-text .inline-list li{
    display: inline;
}

