.logo-container{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0;
}

.logo-container .logo{
    text-align: center;
    font-size: 1.5rem;
    transition: opacity 0.5s ease;
}

.logo-container:hover .logo{
    opacity: 70%;
}