@media only screen and (max-width: 960px) {

    .navigation .navigation-list
    {
        display: none;
    }

    .navigation
    {
        position: fixed;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 80px;
        max-height: 80px;
        padding: 0px 15px;
        margin-bottom: 50px;
    }

    .logo-container
    {
        display: block;
    }

    .mobile-navigation-list-container
    {
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        width: 0vw;
        height: 100lvh;
        transition: left 0.5s ease, width 0.5s ease;
        z-index: 0;
        background-color: var(--color-primario);
        overflow: hidden;
        border-right: 1px solid var(--color-texto-secundario);
        background-image: radial-gradient(var(--color-texto-secundario) 0.5px, var(--color-primario) 0.5px);
        background-size: 10px 10px;
    }

    .mobile-navigation-list
    {
        list-style: none;
        text-wrap: nowrap;
        display: block;
        padding-top: 130px;
        padding-left: 15px;
    }

    .mobile-menu-button-container
    {
        display: flex;
        align-items: center;
        position: absolute;
        left: 0;
        top: 0;
        height: 80px;
        margin-left: 15px;
        z-index: 1;
    }

    .mobile-menu-button
    {
        display: flex;
        align-items: center;
        width: 25px;
        height: 25px;
        cursor: pointer;
        user-select: none;
    }

    .mobile-menu-button .open-menu
    {
        opacity: 100%;
        position: absolute;
        object-fit: contain;
        object-position: center;
        fill: var(--color-texto-secundario);
        transition: opacity 0.5s ease;
    }

    .mobile-menu-button .close-menu
    {
        opacity: 0%;
        object-fit: contain;
        object-position: center;
        position: absolute;
        fill: var(--color-texto-secundario);
        transition: opacity 0.5s ease;
    }

}