@media (max-width: 960px) {

    .navigation .navigation-list
    {
        display: none;
    }

    .navigation
    {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 80px;
        max-height: 80px;
        padding: 0px 15px;
        margin-bottom: 50px;
    }

    .logo-container
    {
        display: block;
    }

    .mobile-navigation-list
    {
        list-style: none;
        position: absolute;
        top: 0;
        left: calc(-100vw + -30px);
        display: block;
        width: 100vw;
        height: 100lvh;
        transition: left 0.5s ease;
        padding-top: 130px;
        padding-left: 15px;
        z-index: 0;
        background-color: #0b132b;
        border-right: 1px solid white;
    }

    .mobile-menu-button-container
    {
        display: flex;
        align-items: center;
        position: absolute;
        left: 0;
        top: 0;
        height: 80px;
        margin-left: 15px;
        z-index: 1;
    }

    .mobile-menu-button
    {
        display: flex;
        align-items: center;
        width: 25px;
        height: 25px;
        cursor: pointer;
        user-select: none;
    }

    .mobile-menu-button .open-menu
    {
        opacity: 100%;
        position: absolute;
        object-fit: contain;
        object-position: center;
        fill: #fff;
        transition: opacity 0.5s ease;
    }

    .mobile-menu-button .close-menu
    {
        opacity: 0%;
        object-fit: contain;
        object-position: center;
        position: absolute;
        fill: #fff;
        transition: opacity 0.5s ease;
    }

}