.navigation{
    width: 100%;
    height: 80px;
    max-height: 80px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    margin-bottom: 50px;
}

.navigation .navigation-list
{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navigation .navigation-list li
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: 100%;
    transition: opacity 0.5s ease;
}

.navigation .navigation-list li:hover
{
    opacity: 70%;
}

.navigation .navigation-list li a
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: 100%;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px;
}